.movie_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movieCard {
  background-color: $blackColor;
  width: 250px;
  margin: 0.8em;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  &:hover {
    .movieCard-description {
      transform: translateY(0%);
    }

  }

  .movieCard-description {
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.95);
    color: $fontColor;
    font-size: 1em;
    line-height: 24px;
    padding: 1em;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    overflow: auto;
    max-height: 100%;
    //&:hover{
    //  transform: translateY(0%);
    //
    //}
    h2 {
      font-size: 1.2em;
    }

  }

  .gg-more-alt_icon {
    z-index: 100;
    ////position: static;
    position: relative;
    //top: 18px;
    //left: 146px;
    //background-color: rgba(40, 39, 39, 0.49);
    //border-radius:50px;
    //width: 20px;
    //height: 20px;
    //filter: blur(8px);
    //-webkit-filter: blur(2px);
    //border: 2px solid $brighterBlackColor;
    //display: flex;
    i {
      //top: 8px;
      //left: 204px;
      //filter:blur(0);
      //-webkit-filter:blur(0);

    }

  }

  .box-img {
    //height:305px;
    img {
      //display:flex;
      //justify-content: center;
      max-width: 100%;
      //transform: scale(1.05);
      //border-radius: 10px;
      border-radius: 10px 10px 0 0;
      box-shadow: 0 0 1em black;
      border-bottom: 4px solid $accentColor;

      &:hover {
        .movieCard {

        }

      }
    }

    .img-grey-bar {
      display: none;
    }

    &:hover {
      box-shadow: 0px -1px 100px -46px rgba(255, 255, 255, 0.81);
      //.img-grey-bar {
      //  display: flex;
      //  position: relative;
      //  left: 0;
      //  top: -27px;
      //  height: 35px;
      //  width: 200px;
      //  z-index: 100;
      //  background-color: rgba(0, 0, 0, 0.8);
      //  border-radius: 0 0 10px 10px;
      //  span{
      //    margin-left: 1em;
      //  }
      //}
    }

    .box-img-description {
      //border-radius: 10px;
      //position: relative;
      //top: -303px;
      //z-index: 150;
      //height: 305px;
      //background-color: red;

    }
  }

  .movie-info-vote_average {
    width: 25px;
    height: 25px;
    background-color: rgba(0, 128, 0, 0.07);
    border: 2px solid green;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $whiteFontColor;
    //margin-right: 10em;

  }

  .movie-info-date {
    color: $whiteFontColor;

  }

  .movie-info {
    //background-color: $blackColor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $fontColor;
    //display: flex;
    .movie-info-title {
      color: #fff;
      //margin: 1em 0 0.7em 0;
      padding: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .movie-info-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 0.3em;

      .movie-info-date {
        margin-left: 1em;

      }
    }


  }
}
