.single-card-container {
  //overflow-x: auto;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-around;
  //justify-content: space-evenly;
  justify-content: center;
}

.single-card-box {
  width: 250px;
  min-width: 250px;
  background-color: $blackColor;
  color: $fontColor;
  border-radius: 15px;
  margin: 10px;


  img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    border-bottom: 4px solid $accentColor;
  }


  .single-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    text-align: center;

  }

  .single-card-info {
    //display: none;
    display: flex;
    //background-color: $brighterBlackColor;
    border-top: 3px solid $brighterBlackColor;
    border-radius: 0 0 15px 15px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0 10px 0;

  }

  //&:after {
  //  width: 2px;
  //  height: 5px;
  //  background-color: white;
  //}


  &:hover {
    //.single-card-info{
    //  background-color: $brighterBlackColor;
    //  border-radius: 0 0 15px 15px;
    //  display: flex;
    //  justify-content: center;
    //  align-items: center;
    //}
    //.single-card-info{
    //  border-top: 3px solid $accentColor;
    //
    //
    transform: scale(1.03);
    //transition-duration: 1ms ease-in-out;
    //transition: 200ms ease-in-out;
    transition: transform 0.3s ease-in-out;
    //transition-delay: 1s;

  }
}